{% load static %}
<!DOCTYPE html>
<html lang="en">
   

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

</head>
<body>

   <h1>Group Name: {{groupname}} <i class="fa-solid fa-diagram-project"></i></h1>

    <textarea name="" id="chat-log" cols="50" rows="10">
        {% for chat in chats %}
          {{chat.content}}
        {% endfor %}
    </textarea><br>
    <input type="text" name="" id="chat-message-input" size="50" placeholder="type message"><br>
    <input type="button" value="Send" id="chat-message-submit">
    {{groupname|json_script:"group-name"}}
    <script>
        const groupName = JSON.parse(document.getElementById
        ('group-name').textContent)
        console.log(groupName)

        var ws = new WebSocket(
            'ws://'
            + window.location.host
            + "/ws/ac/"
            + groupName+'/'
        )

         ws.onopen = function(event){
            console.log('websocket conncetion open...',event)
        }

        ws.onmessage = function(event){
            console.log('Message Received from server...',event.data)
            var data = JSON.parse(event.data)
            document.querySelector('#chat-log').value += (data.msg +'\n')
        }

        ws.onerror = function(event){
            console.log("websocket error occured...",event)
        }

        ws.onclose = function(event){
            console.log('websocket connection closed...',event)
        }

        document.getElementById('chat-message-submit').onclick = 
        function(event){
            const messageInputDom = document.getElementById
            ('chat-message-input')
            const message = messageInputDom.value
            ws.send(JSON.stringify({
                'msg':message
            }))
            messageInputDom.value = ""
        }
    </script>
</body>
</html>